@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

:root {
    --soft-blue-color: hsl(215, 51%, 70%);
    --cyan-color: hsl(178, 100%, 50%);
    --very-dark-blue-color-bg: hsl(217, 54%, 11%);
    --very-dark-blue-color-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-color-line: hsl(215, 32%, 27%);
    --white-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
}