@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

:root {
    --soft-blue-color: hsl(215, 51%, 70%);
    --cyan-color: hsl(178, 100%, 50%);
    --very-dark-blue-color-bg: hsl(217, 54%, 11%);
    --very-dark-blue-color-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-color-line: hsl(215, 32%, 27%);
    --white-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--very-dark-blue-color-bg);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    background-color: var(--very-dark-blue-color-card-bg);
    box-shadow: 0 1px 25px 20px 200px black;
    border-radius: 15px;
}

.card-title {
    color: var(--white-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}

.card-content {
    padding: 1rem;
}

.card-text {
    color: var(--very-dark-blue-color-line);
    padding-bottom: 1rem;
    font-size: 18px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.card-price {
    display: flex;
    align-items: center;
}

.card-price-amount {
    margin-left: 5px;
    color: var(--cyan-color);
}

.card-remaining {
    display: flex;
    text-align: center;
    color: var(--soft-blue-color);
    font-weight: 300;
}

.card-remaining-time {
    margin-left: 5px;
}

.card-image {
    width: 100%;
    border-radius: 5px;
}

.card-creator {
    padding-top: 2rem;
    display: flex;
    align-items: center;
}

.card-credits-text {
    color: var(--very-dark-blue-color-line);
}

.card-name {
    color: var(--white-color);
}

.card-credits {
    margin-left: 10px;
}

.card-creator-img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

.card-hr {
    padding-top: 2rem;
    border-bottom: 1px solid var(--very-dark-blue-color-line);
}